//? Colors
$color-primary: #7ed56f;
$color-primary-1: #55c57a;
$color-primary-2: #28b485;

$color-secondary: #FFCB05;
$color-secondary-2: #F9B317;
$color-secondary-3: #f4b11b;

$color-tertiary: #7ed56f;
$color-tertiary-1: #55c57a;
$color-tertiary-2: #28b485;

$color-grey-primary: #A6A6A6;