.header_container {
    width: 100vw;
    overflow: hidden;
    // margin-left: 40px;
    // margin-right: 40px;
    // flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    // box-shadow: rgba(170, 165, 165, 0.2) 0px 7px 29px 0px;
    // background-color: cadetblue;

    //dropdown menu
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        background-color: #f9f9f9;
        //	min-width: 180px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 0px 5px;
        z-index: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        width: 150px;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }

    .menu_item {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        color: #1a5cce;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        padding: 5px;

        div {
            padding-left: 20px;
        }
    }

    .menu_item:hover {
        border-radius: 10px;
        color: #46178f;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
}

.header_left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // background-color: blueviolet;

    .header_searchBar {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 0px 10px;
        border-radius: 50px;
        background-color: #f6f8fd;
    }

    .header_searchBar_input {
        border: none;
        background-color: transparent;
        color: #46178f;
        padding: 5px;
        font-size: 1.2em;
        outline: none;
    }
}

.header_middle {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    // background-color: #f6f8fd;

    .logo {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
}

.header_right {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // background-color: #23be5f;
    @media screen and (max-width: 768px) {
        flex: 1;
    }

    .header_right_tile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        padding: 5px;
        margin-right: 10px;
        border-radius: 10px;
        text-decoration: none;
        background-color: #f6f9fa;
        border: 1px solid #46178f;
    }

    .header_language_text {
        color: #414c5a;
        font-size: 1em;
        font-weight: bold;
    }

    .header_profile_tile {
        display: flex;
        height: 60px;
        margin: 5px 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: rgba(163, 163, 170, 0.2) 0px 7px 29px 0px;

        .header_profile_tile_Content {
            display: flex;
            flex-direction: row;
        }

        .header_profile_tile_options {
            background-color: white;
            position: absolute;
            top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .profile_pic {
            display: flex;
            background-color: #f6f9fa;
            border-radius: 50%;
            margin-left: 20px;

            img {
                border-radius: 50px;
            }
        }

        .name {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: #414c5a;
            font-size: 1em;
            margin: 0px 10px;
            cursor: pointer;

            .name_text {
                width: 120px;
                color: #46178f;
                font-weight: bold;
                text-align: left;
            }

            .role_text {
                width: 120px;
                color: #46178f;
                text-align: left;
                font-size: 0.8em;
            }
        }

        .dropdown_icon {
            font-size: 2em;
            color: #000000;
        }
        .headerIcon {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            height: 35px;
            width: 35px;
            padding: 5px;
            margin-right: 10px;
            border-radius: 10px;
            text-decoration: none;
            background-color: #f6f9fa;
        }
    }
}

.header_user_profile_name {
    display: flex;
    // justify-content: center;
    // align-items: center;
    background-color: #46178f;
    height: 40px;
    padding: 5px;
    border-radius: 30px;
}

.profile_Pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.profile_name {
    font-size: 17px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-right: 8px;
}

@media only screen and (max-width: 700px) {
    .header_container {
        padding: 0px 0px;
    }

    .header_logo {
        display: none;
    }

    .header_middle {
        .logo {
            width: 50px;
            height: 50px;
            margin-right: 5px;
        }
        // display: none;
    }

    .header_user_profile {
        flex: 1;
        justify-content: center;
    }
}
