// ChangePasswordComponent
.changePassContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 10px;
    .header {
        font-size: 30px;
        font-weight: bold;
        color: #c9d1d9;
    }
    .text {
        font-size: 15px;
        color: #707881;
        margin-bottom: 10px;
        text-align: left;
        max-width: 80%;
    }
    .user {
        font-size: 30px;
        font-weight: bold;
        color: #c9d1d9;
    }
    .user_field {
        font-size: 15px;
        color: #707881;
        margin-bottom: 10px;
        text-align: left;
        padding-bottom: 30px;
    }
    .label {
        font-size: 15px;
        color: #707881;
    }
    .input_container {
        input {
            border: none;
            border-bottom: 1px solid #c9d1d9;
            outline: none;
            padding: 10px;
            width: 250px;
            border-radius: 5px;
        }
    }
    button {
        background-color: #c9d1d9;
        color: #707881;

        // height: 30px;
        padding: 10px;
        border-radius: 5px;

        &:hover {
            color: black;
            background-color: aquamarine;
        }
    }
}

// Help and support page
